.body {
  color: #434455;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background: #fff;
}

.container {
  width: 100%;
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.logo {
  color: #4d5ae5;
  font-weight: 800;
  font-size: 18px;
  font-family: Raleway, sans-serif;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-header {
  color: #2e2f42;
}
.logo-footer {
  color: #f4f4fd;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
}
.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 80px 40px 40px;
  background-color: #fff;
  box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu-btn {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-btn:is(:hover, :focus) {
  background-color: #404bbf;
  border: 1px solid #404bbf;
  fill: #fff;
}
.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}
.mobile-menu-nav-link {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-nav-link:is(:hover, :focus) {
  color: #404bbf;
}
.mobile-menu-nav-link-active {
  color: #404bbf;
}
.mobile-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}
.mobile-menu-address-link:nth-child(1) {
  color: #434455;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-address-link:nth-child(2) {
  color: #434455;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.mobile-menu-address-link:is(:hover, :focus) {
  color: #404bbf;
}
.mobile-menu-social-list {
  display: flex;
  gap: 56px;
}
.mobile-menu-social-link {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-social-link:is(:hover, :focus) {
  background-color: #404bbf;
}

@media screen and (min-width: 480px) {
  .nav,
  .address {
    display: none;
  }
  .mobile-btn {
    background-color: transparent;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
  .mobile-btn {
    display: none;
  }
  .nav {
    display: flex;
    gap: 40px;
  }
  .nav-section {
    display: flex;
    gap: 76px;
    align-items: center;
  }
  .nav-link {
    padding: 24px 0;
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:is(:hover, :focus) {
    color: #404bbf;
  }
  .nav-link-active {
    position: relative;
    color: #404bbf;
  }
  .nav-link-active::after {
    position: absolute;
    bottom: -18px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    content: "";
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .address-link {
    color: #434455;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link:is(:hover, :focus) {
    color: #404bbf;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .mobile-btn {
    display: none;
  }
  .nav {
    display: flex;
    gap: 40px;
  }
  .nav-section {
    display: flex;
    gap: 76px;
    align-items: center;
  }
  .nav-link {
    padding: 24px 0;
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:is(:hover, :focus) {
    color: #404bbf;
  }
  .nav-link-active {
    position: relative;
    color: #404bbf;
  }
  .nav-link-active::after {
    position: absolute;
    bottom: -4px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    content: "";
  }
  .address-list {
    display: flex;
    gap: 40px;
  }
  .address-link {
    padding: 24px 0;
    color: #434455;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link:is(:hover, :focus) {
    color: #404bbf;
  }
}
.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/home/hero/hero_mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 428px auto;
}
.hero-title {
  max-width: 500px;
  margin: 0 auto 72px;
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.hero-btn {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:is(:hover, :focus) {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 108px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/home/hero/hero_table.jpg");
    background-size: 768px auto;
  }
  .hero-title {
    margin: 0 auto 40px;
    font-size: 56px;
    line-height: 1.07;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/home/hero/hero_desktop.jpg");
    background-size: 1440px auto;
  }
  .hero-title {
    margin: 0 auto 48px;
    letter-spacing: 0.02em;
  }
}
.skills {
  padding-top: 96px;
  padding-bottom: 96px;
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.skills-block-icon {
  display: none;
}
.skills-subtitle {
  margin: 8px 0;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.skills-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .skills-list {
    gap: 72px 24px;
  }
  .skills-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .skills-subtitle {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .skills {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .skills-list {
    gap: 24px;
  }
  .skills-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .skills-block-icon {
    display: flex;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
  }
  .skills-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .skills-text {
    font-weight: 400;
  }
}
.doing {
  display: none;
}

@media screen and (min-width: 1200px) {
  .doing {
    display: block;
    padding-bottom: 120px;
  }
  .doing-title {
    margin-bottom: 72px;
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
  }
  .doing-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .doing-item {
    flex-basis: calc((100% - 48px) / 3);
    background-image: linear-gradient(rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1));
    background-blend-mode: soft-light, normal;
    border: 1px solid #e7e9fc;
  }
}
.team {
  padding-top: 96px;
  padding-bottom: 128px;
  background-color: #f4f4fd;
}
.team-title {
  margin-bottom: 72px;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  justify-content: center;
}
.team-content {
  padding: 32px 16px;
}
.team-subtitle {
  margin-bottom: 8px;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-item {
  flex-basis: calc((100% - 72px) / 4);
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
}
.team-text {
  margin-bottom: 8px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-social-list {
  display: flex;
  gap: 24px;
}
.team-social-link {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:is(:hover, :focus) {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .team {
    padding-bottom: 104px;
  }
  .team-list {
    gap: 64px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
.customers-title {
  margin-bottom: 72px;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  justify-content: center;
}
.customers-link {
  display: flex;
  justify-content: center;
  width: 190px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #8e8f99;
}
.customers-link:is(:hover, :focus) {
  border-color: #404bbf;
  fill: #404bbf;
}

@media screen and (min-width: 768px) {
  .customers-list {
    gap: 72px 24px;
  }
  .customers-link {
    width: 168px;
  }
}
@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 128px;
    padding-bottom: 120px;
  }
  .customers-link {
    display: flex;
    justify-content: center;
    width: 168px;
    height: 88px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #8e8f99;
  }
  .customers-link:is(:hover, :focus) {
    border-color: #404bbf;
    fill: #404bbf;
  }
}
.footer {
  padding: 96px 0;
  background-color: #2e2f42;
}
.footer .container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  align-items: baseline;
  justify-content: center;
}
.footer-content {
  max-width: 268px;
  text-align: center;
}
.footer-text {
  margin-top: 16px;
  color: #e7e9fc;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 96px 92px;
  }
  .footer .container {
    justify-content: space-between;
  }
  .footer-content {
    max-width: 264px;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer .container {
    gap: 0;
  }
  .footer-content {
    margin-right: 120px;
  }
}
.social-title {
  color: #e7e9fc;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.social-list {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.social-link {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:is(:hover, :focus) {
  background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
  .social-title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .social {
    margin-right: 80px;
  }
}
.subscribe-title {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-top: 16px;
}
.subscribe-form-input {
  align-items: center;
  width: 396px;
  height: 40px;
  padding: 8px 16px;
  color: #e7e9fc;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.15));
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-form-input:focus {
  border-color: #4d5ae5;
  outline: none;
}
.subscribe-form-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form-btn {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 165px;
  height: 40px;
  padding: 8px 24px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  background: #4d5ae5;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-form-btn:is(:hover, :focus) {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    gap: 24px;
  }
  .subscribe-form-input {
    width: 264px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  padding: 72px 24px 24px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:is(:hover, :focus) {
  background-color: #404bbf;
  border: 1px solid #404bbf;
  fill: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
}
.form-label {
  position: relative;
  fill: #2e2f42;
}
.form-label-title {
  color: #8e8f99;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}
.form-label-section {
  position: relative;
  display: block;
  margin-top: 4px;
}
.form-label-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px 8px 36px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  background-color: #fcfcfc;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label-input:focus {
  border-color: #4d5ae5;
  outline: none;
}
.form-label-input:focus + .form-icon {
  fill: #4d5ae5;
}
.form-label-placeholder {
  display: block;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 8px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  background-color: #fcfcfc;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}
.form-label-placeholder::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-label-placeholder::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-label-placeholder:focus {
  border-color: #4d5ae5;
  outline: none;
}
.form-checkbox {
  position: relative;
  display: flex;
  margin-left: 20px;
}
.form-checkbox-new {
  position: absolute;
  top: -1px;
  width: 16px;
  height: 16px;
  margin-left: -20px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;
  fill: transparent;
}
.form-checkbox-input {
  position: absolute;
}
.form-checkbox-input:checked + .form-checkbox-new {
  background-color: #4d5ae5;
  border-color: #4d5ae5;
  fill: #fff;
}
.form-checkbox-input:focus + .form-checkbox-new {
  outline: 1.25px solid #4d5ae5;
}
.form-checkbox-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-checkbox-text {
  color: #757575;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}
.form-checkbox-link {
  color: #4d5ae5;
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox-link:is(:hover, :focus) {
  color: #404bbf;
}
.form-btn {
  align-items: center;
  width: 169px;
  height: 56px;
  margin: 16px auto 0;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  background: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:is(:hover, :focus) {
  background-color: #404bbf;
}

.work {
  padding-top: 96px;
  padding-bottom: 96px;
}
.work-list-btn {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.work-btn {
  padding: 12px 24px;
  color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-btn:is(:hover, :focus) {
  color: #fff;
  background-color: #404bbf;
  border: 1px solid #404bbf;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 2px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12);
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  margin-bottom: 24px;
}
.work-item {
  display: flex;
  flex-basis: calc((100% - 48px) / 3);
}
.work-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  overflow: auto;
  color: #f4f4fd;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  transform: translate(0, 101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-link {
  border: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-link:is(:hover, :focus) {
  border-color: #f4f4fd;
  box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
}
.work-link:is(:hover, :focus) .work-overlay {
  transform: translate(0);
}
.work-link img {
  background-image: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1));
  background-blend-mode: soft-light, normal;
}
.work-image {
  position: relative;
  overflow: hidden;
}
.work-content {
  padding: 32px 16px;
}
.work-subtitle {
  margin-bottom: 8px;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.work-text {
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}/*# sourceMappingURL=styles.css.map */